:root {
    --primary-color: #333;
    --secondary-color: #fc6767;
    --background-opacity: rgba(252, 250, 250, 0.3);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Media Query: Pantallas muy pequeñas (máx. 200px) */
@media screen and (max-width: 200px) {
    .navbar-brand img.img_logo {
        width: 60px;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 0.7rem;
        padding: 0.2rem 0.4rem;
    }
    .container-fluid {
        flex-direction: column;
        align-items: center;
    }
}

/* Media Query: Pantallas pequeñas (máx. 480px) */
@media screen and (max-width: 480px)  {
    .container_inicio {
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        text-align: center;
    }

    .texto_inicio h1 {
        font-size: 3rem;
        margin-top: -2rem;
    }

    .texto_inicio p {
        font-size: 1rem;
        line-height: 1.4;
        margin-top: -1rem;
    }

    .botones_inicio .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        width: 100%;
        margin: 0.5rem 0;
        box-shadow: var(--box-shadow);
    }

    .inicio {
        height: 80vh;
        background-size: cover;
        animation: none;
    }

    h2 {
        font-size: 2rem;
    }

    .carousel-inner {
        width: 100%;
        height: 80%;
    }

    .texto_imagen {
        font-size: 1.6rem;
        margin: 5%;
    }

    .container_filosofía {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 100%;
        max-width: 100%;
    }

    .column img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    
    .column h2, 
    .column h5 {
        text-align: center;
        margin: 15px 0;
    }

    .h3_historia {
        margin-top: -15px;
    }

    .opinion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: white;
    }

    .opinion_1 {
        margin-bottom: 15px;
        text-align: center;
    }

    .img_opinion {
        width: 100%;
        max-width: 280px;
        height: auto;
        border-radius: 5px;
    }

    .opinion_2 {
        text-align: center;
        padding: 10px;
    }

    .opinion_2 p {
        font-size: 12px;
        margin: 5px 0;
        line-height: 1.5;
        color: var(--primary-color);
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: var(--box-shadow);
        transition: transform 0.3s ease-in-out;
    }

    .gallery img:hover {
        transform: scale(1.05);
    }

    #zoom-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .staff {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img_staff {
        width: 95%;
        height: auto;
        border-radius: 5px;
    }

    .contacto {
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente */
        justify-content: center;
        gap: 10px; /* Espacio entre elementos */
    }
    
    .contacto1 {
        flex: 1 1 100%; /* Cada elemento ocupa toda la pantalla en dispositivos pequeños */
        max-width: 300px; /* Tamaño máximo en pantallas más grandes */
        text-align: center; /* Centrar texto e imágenes */
        margin: 0 auto; /* Centrar elementos horizontalmente */
    }
    
    img {
        width: 50px; /* Ajusta el tamaño de las imágenes */
        height: auto;
    }
    
    .p_contacto {
        font-size: 14px; /* Reduce el tamaño de las fuentes */
        margin: 10 0; /* Espacio entre líneas */
    }
    
}
